extends layout
block content
  include includes/header.pug
  .content.class1
    p HELLO #{name}, how are ya?
    img.profile-pic(src="data:image/jpeg; base64, " + avatar)
    form(action='/profile/upload/image', method='post', enctype='multipart/form-data')
      label(for="avatar-upload").custom-avatar-upload Изменить
      input(type='file', id='avatar-upload', name='avatar-upload', onchange='this.form.submit()')
  .files#files
    if !files
      .list-empty
        form(action='/profile/upload/files', method='post', enctype='multipart/form-data')
          label(for='files-upload').custom-files-upload Добавить файлы
          input(type='file', id='files-upload', name='files-upload', multiple, onchange='this.form.submit()')  
        p You don't have any files!      
        p drag'n'drop files in this section to upload
    else 
      form(action='/profile/upload/files', method='post', enctype='multipart/form-data')
        label(for='files-upload').custom-files-upload Добавить файлы
        input(type='file', id='files-upload', name='files-upload', multiple, onchange='this.form.submit()')       
      #files-list.files-list
        span.files-description.files-index
          strong Номер
        span.files-description.files-name
          strong Название
        span.files-description.files-kind
          strong Тип
          input(type='text', id='search-kind', name='search-kind' placeholder='Введите тип').search-input
        span.files-description.files-mark
          strong Оценка
          input(type='text', id='search-mark', name='search-mark' placeholder='Введите оценку').search-input
        span.files-description.files-subject
          strong Тема
          input(type='text', id='search-subject', name='search-subject' placeholder='Введите тему').search-input
        span.files-description.files-place
          strong Место
          input(type='text', id='search-place', name='search-place' placeholder='Введите место').search-input
        span.files-description.files-date
          strong Дата участия
          input(type='text', id='search-date', name='search-date' placeholder='Введите дату участия').search-input
        span.files-description.files-created
          strong Дата создания
        span.files-description.files-actions
          strong Действие
        each file, index in files
          .item(data-item=index).item-file-index
            span.file-index
              i #{index+1}
          .item(data-item=index).item-file-name
            span.file-name
              a(href='/profile/download/files/' + file._id).file-download= file.name
          .item(data-item=index).item-file-kind
            span.file-kind #{file.kind}
          .item(data-item=index).item-file-mark
            span.file-mark #{file.mark}
          .item(data-item=index).item-file-subject
            span.file-subject #{file.subject}
          .item(data-item=index).item-file-place
            span.file-place #{file.place}
          .item(data-item=index).item-file-date
            span.file-date #{file.date}
          .item(data-item=index).item-file-created
            span.file-created
              i= file.created
          .item(data-item=index).item-file-actions
            span.file-actions
              a(href='/profile/delete/files/' + file._id).file-delete delete file
              a(href='#change-file' onclick=`editFile(${JSON.stringify(file)})`).file-edit change file

